/* New styles for cart overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure overlay is on top */
}

.cart {
  background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Existing styles for cart */
.cart-items {
  display: flex;
  flex-direction: column;
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 20px; 
}

.cart-item {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.cart-item img {
  max-width: 150px; /* Adjust size if needed */
  max-height: 150px; /* Adjust size if needed */
  object-fit: cover;
  margin: 0 15px 0 0; /* Adjust margin */
}

.item-details {
  flex: 1;
  text-align: left;
  font-size: 1.1rem; /* Adjust font size */
}

.item-details h3 {
  margin: 0;
}

.item-details input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
}

.item-details span {
  display: block;
  margin: 5px 0;
}

.removeItem {
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem; /* Adjust font size */
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Existing styles for cart summary */
.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px; /* Adjust padding */
  box-sizing: border-box;
  width: 100%; 
  margin: 0;
}

.cart-summary h3 {
  margin-bottom: 10px;
  font-size: 1.5rem; /* Adjust font size */
}

.cart-summary form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%; /* Full width for form */
  align-items: center; 
}

.totalPrice {
  margin: 2rem 0; /* Adjust margins */
  padding-bottom: 1rem; /* Adjust padding */
}

.cart-summary label {
  display: flex;
  flex-direction: column;
  font-size: 16px; /* Adjust font size */
  width: 100%; 
  box-sizing: border-box;
  text-align: left; 
}

.cart-summary input,
.cart-summary select {
  padding: 8px;
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
  align-self: center; 
}

.cart-summary button {
  background-color: #208538;
  border: none;
  color: #fff;
  padding: 15px; /* Adjust padding */
  font-size: 20px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif;
  width: 100%; /* Full width */
  box-sizing: border-box;
}

.cart-summary button:hover {
  background-color: #1d6e30;
}
