/* Checkout Container */
.checkout-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Limit max width for larger screens */
  margin: 300px auto 20px auto; /* Center horizontally with auto margins */
}

/* Title */
.checkout-title {
  font-size: 40px; /* Increase font size */
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  letter-spacing: 3px;
}

/* Fixed Order Details Container */
.order-details {
  position: sticky;
  top: 150px; /* Adjust based on title height */
  width: 50%;
  background: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 600px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* Place Order Button Container */
.place-order-container {
  width: 100%;
  background-color: white;
}

/* Place Order Button */
.checkout-submit-button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #2a9644; /* ASOS green */
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(50%);
}

.checkout-submit-button:hover {
  background-color: #217735; /* Darker green */
}

/* Product Items Container */
.checkout-cart-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust width to ensure products are on the right side */
  font-weight: 700;
}

/* Each Product Item */
.checkout-cart-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid #ddd; */
  padding: 20px; /* Increase padding for more space around items */
  min-width: 25vw; /* Increase max-width for larger items */
  background-color: white;
  margin-bottom: 5px; /* Add spacing between items */
  margin-left: 10px;
}

/* Product Image */
.checkout-item-image {
  width: 200px; /* Increase width */
  height: auto; /* Adjust height to maintain aspect ratio */
  max-height: 200px; /* Limit maximum height */
  object-fit: cover;
  margin-right: 30px; /* Increase space between image and text */
}

/* Product Details */
.checkout-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: calc(100% - 250px); /* Adjust width to account for image width and margin */
}

/* Product Text */
.checkout-item-name {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 7px;

}

.checkout-item-price {
  font-size: 27px;
  color: black;
  font-weight: 700;
  margin-bottom: 7px;
}

.checkout-item-quantity {
  font-size: 20px; /* Increase font size */
  margin: 5px 0;
  font-weight: 300;
  margin-bottom: 7px;

}

.checkout-item-total {
  font-size: 23px;
  color: black;
  font-weight: 300;
}

/* Order Details Form */
.checkout-form {
  display: flex;
  flex-direction:column;
  gap: 30px;
}

.checkout-form-input,
.checkout-form-select {
  width: 100%; /* Ensure inputs and selects take full width of their container */
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ddd;
    
}


.checkout-form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left; /* Align labels to the left */
  width: min-content;
}

/* Order Details Total Price */
.checkout-total-price {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Order Number Container */
.checkout-order-number {
  padding: 30px; 
  text-align: center; /* טקסט מיושר למרכז */
  height: min-content;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  transform: translateY(90%) translateX(10%);

}

/* Order Number Heading */
.checkout-order-number h2 {
  font-size: 40px; /* גודל גופן גדול */
  font-weight: 700; /* משקל גופן כבד */
  color: #2a9644; /* צבע ירוק מותאם */
  margin-bottom: 15px; /* רווח תחתון */
  letter-spacing: 1px; /* מרווח בין האותיות */
}

/* Order Number Text */
.checkout-order-number p {
  font-size: 30px; /* גודל גופן גדול */
  color: #333; /* צבע אפור כהה */
  margin: 0; /* ביטול מרווח אוטומטי */
  font-weight: 700;
}

/* Error Message */
.error-message {
  position:absolute;
  transform: translateY(-110%) translateX(44%); 
  color: #af4242;
  background-color: #fde8ec;
  border-radius: 4px;
  border: 2px transparent solid;
  transition: border .3s ease-out;
  font-size: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  width: 60%;
} 

.error-message.show {
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* ביטול צבע הרקע */
  box-shadow: 0 0 0px 1000px white inset; /* ביטול צבע הרקע */
  -webkit-text-fill-color: black; /* צבע הטקסט */
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset; /* ביטול צבע הרקע */
  -moz-box-shadow: 0 0 0px 1000px white inset; /* ביטול צבע הרקע */
  color: black; 
}

.place-order-container {
  background-color: #F3F5F4;
}